<div class="auth login">
  <div class="auth__card">
    <div class="auth__card-inner">
      <img class="auth__octoblu-logo" src="/assets/images/octoblu-color.png">

      <strong class="auth__form-divider">
        or
      </strong>

      <div class="auth__form-row auth__form-row--social">
        <md-button class="auth__button--social auth__button--email" ng-href="{{controller.emailPasswordLoginUri}}" >
          <i class="fa fa-lg fa-envelope-o"></i> Email
        </md-button>
      </div>

      <p class="auth__form-suffix">Don't have an account? <a ui-sref="signup">Sign up here!</a></p>
    </div>

  </div>

  <footer class="auth__footer">
    <p class="auth__footer-links">
      <a href="//spinups.io" target="_blank" class="auth__footer-link">Spinups</a> •
      <a href="//spinups.io/contact/" target="_blank" "auth__footer-link">Contact Us</a> •
      <a href="/terms" class="auth__footer-link">Terms &amp; Conditions</a>	
    </p>

    <a href="https://spinups.io/" target="_blank" "auth__footer-link--citrix" title="nodeStudio Octoblu, now on Spinups">
      <img src="/assets/images/SPINUPS_MASTER_RGB_CS6_BUSINESS-APP-CLOUD-618z144.png" alt="Spinups" class="auth__footer-spinups-logo">
    </a>
  </footer>
</div>
